p.outlink{
    display: inline;
    padding: 5%;
}
main{
    padding-top: 1%;
    padding-left: 20%;
}
div#upperhalf{
    height: 35em;
    background-size: cover;
    background-image: url("myBackground1.jpg");
    background-repeat: no-repeat;
}
p#upperhalfName{
    text-align: center;
    font-size: 3em;
    color: white;
    padding-top: 3em;
}