p#nav{
    text-align:center;
    border: 1px dotted blue;
}

h1{
    text-align:center;
    color:rgb(2, 2, 126);
}

p#headerDescription{
    font-weight:bold;
    color:rgb(2,2,126);
}

p{
    padding: 5px;
    margin: 10px;
}

body{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
}

img#son  {
    box-align: right;
    width: 200px;
    height: 250px;
    margin: 50px;
}

img#crying {
    width:200px;
    height:250px;
    margin:20px;
}

p#bio{
    font-size:30px;
    text-align:center; 
}

p#githublink{
    font-size: 20px;
    text-align:left;
    text-decoration:underline;
}

p#overflowlink{
    font-size:20px;
    text-decoration:underline;
}
div#upperHalf{
    background-image:url(myBackground1.jpg);
    background-size:cover;
    background-origin:padding-box;
}
p#resumeLink{
    font-size:20px;
    text-decoration:underline;
}
p#oldProjects{
    font-size:20px;
    text-decoration:underline;
}