h1{
    text-align:center;
    color:Red;

}

p{
    padding: 5px;
    margin: 10px;
}

body{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
}

img#son  {
    box-align: right;
    width: 200px;
    height: 250px;
    margin: 10px;
}

img#crying {
    width:200px;
    height:250px;
    
}

p#githublink{
    font-size: 20px;
    text-align:center;
    text-decoration:underline;
}